.label {
  margin-top: 2rem;
  font-size: 1.2rem;
  font-weight: bold;
}
.inputField {
  width: 100%;
}
.select {
  width: 4rem;
}
.category {
  width: 10rem;
  margin-bottom: 3rem;
}
.actions {
  display: flex;
  margin-top: 1rem;
  justify-content: space-between;
}
.space {
  height: 30vh;
  width: 100%;
}
.category {
  font-size: 1rem;
  color: white;
  font-weight: 600;
  background-color: var(--dark);
  padding: 0.7rem;
  margin: 1rem;
  border-radius: 2rem;
}

input[type="file"]::file-selector-button {
  padding: 0.4rem 0.6rem;
  font-size: 1.2rem;
  font-weight: 500;
  background-color: var(--dark);
  color: white;
  border: 2px solid var(--dark);
  border-radius: 1.5rem;
  transition: 0.6s;
}
input[type="file"]::file-selector-button:hover {
  background-color: white;
  color: var(--dark);
}
input[type="file"]::file-selector-button:active {
  background-color: var(--dark);
  color: white;
  transform: scale(0.95);
}
.warning {
  margin: 0.5rem 0;
  color: rgb(255, 61, 61);
}
@media only screen and (max-width: 980px) {
  .form,
  .inputField {
    width: 80vw;
  }
}
