.info-table {
  width: 60vw;
  margin-top: 3rem;
}
table {
  border-collapse: separate;
  border-spacing: 0 1rem;
}
.brandName {
  font-size: 1.2rem;
  color: grey;
  font-weight: bold;
}
.productName {
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: bold;
  color: black;
}

.price {
  font-weight: bold;
  font-size: 1.5rem;
  color: rgb(47, 47, 47);
}
.sizesCon {
  margin: 1rem 0;
}

.size {
  font-size: 1.2rem;
  margin-right: 3rem;
}
.description {
  margin-top: 1rem;
}

.actions {
  display: flex;
  justify-content: space-between;
  margin: 2rem 0;
}
.list {
  margin: 0.5rem 0;
}
.quantityField {
  width: 4rem;
}
.quantitySubmit {
  margin-left: 3rem;
}

@media only screen and (max-width: 980px) {
  .info-table {
    margin: 0 auto;
    padding: 1rem;
    width: 100%;
  }
  .actions {
    justify-content: center;
  }
  .actionButton {
    margin: 0 2rem;
    width: auto;
    white-space: nowrap;
  }
}
