@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bungee&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;1,400&display=swap");

:root {
  --light: rgb(225, 242, 255);
  --mid: rgb(112, 156, 189);
  --dark: rgb(0, 44, 75);
  --white: rgb(255, 255, 255);
  --grey: rgb(239, 243, 246);
  --light-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2),
    0 1px 2px 0 rgba(0, 0, 0, 0.19);
  --dark-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.2), 0 4px 8px 0 rgba(0, 0, 0, 0.19);
}

body {
  font-family: "Rubik";
  overflow-x: hidden;
  width: 100vw;
  padding: 0;
  padding-top: 10vh;
}
::-webkit-scrollbar {
  width: 0.5rem;
  background-color: white;
}
::-webkit-scrollbar-thumb {
  background-color: var(--dark);
}
.content {
  width: 100%;
  padding: 0;
}
p {
  margin: 0;
}
#overlay {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--dark);
  opacity: 0.3;
  z-index: 11;
  position: fixed;
  width: 100vw;
  height: 100vh;
}
#loading {
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--dark);
  opacity: 0.7;
  z-index: 15;
  position: fixed;
  width: 100vw;
  height: 100vh;
}
#loading-gif {
  width: 50px;
  height: 50px;
  background-position: center center;
  background-repeat: no-repeat;
  opacity: 1;
}
.popup {
  z-index: 12;
  padding: 2rem 1rem;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: fit-content;
  width: 25rem;
  border: 3px solid var(--dark);
  border-radius: 0.5rem;
  background-color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.dialog {
  font-weight: 500;
}
.confirm-button {
  margin: 1rem 1.5rem;
}
button {
  padding: 0.2rem 0.4rem;
  font-size: 0.8rem;
  font-weight: 500;
  background-color: var(--dark);
  color: white;
  border-radius: 0.5rem;
  transition: 0.6s;
}
button:hover {
  background-color: black;
}
button:active {
  transform: scale(0.95);
}
.main-body {
  margin-left: 20vw;
  width: 80vw;
  height: 100%;
}

#sidebar {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 100%;
  width: 20vw;
  left: 0;
  top: 0;
  padding-top: 1rem;
  background-color: var(--dark);
  animation-duration: 0.29s;
}
.nav-toggle {
  font-size: 2rem;
  font-weight: bold;
  display: none;
}
#close-nav {
  position: absolute;
  color: white;
  top: 0.5rem;
  right: 0.5rem;
}
.profile {
  margin: 1rem;
  display: flex;
}

#adminPic {
  width: 4rem;
  height: 4rem;
  border-radius: 2rem;
  background-color: black;
}

.adminName {
  text-align: center;
  color: white;
  font-size: 1.1rem;
}
.nav-profile {
  display: none;
}

.nav-list {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-top: 1rem;
  width: fit-content;
}

.nav-item {
  padding: 0.5rem;
  display: flex;
  align-items: center;
}

.nav-icon {
  font-size: 1.5rem;
  color: white;
}

.nav-text {
  flex-wrap: wrap;
  margin-left: 1rem;
  font-size: 1rem;
  font-weight: 500;
  text-decoration: none;
  color: white;
  transition: 0.6s;
}
.nav-text:hover {
  text-decoration: underline;
  color: white;
}
.nav-text:active {
  text-decoration: underline;
  color: white;
  transform: scale(0.9);
}

.brand {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}
.brand-logo {
  margin-right: 0.4rem;
  width: 1rem;
  color: white;
}
.brand-name {
  color: white;
  font-family: "Bungee", cursive;
  font-size: 1.2rem;
}

/*===== HEADER ===== */
.header {
  position: fixed;
  display: flex;
  align-items: center;
  top: 0;
  width: 80vw;
  min-height: 8vh;
  max-height: fit-content;
  background-color: white;
  padding: 0 1.5rem;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--dark);
  z-index: 10;
}

.tab {
  color: var(--dark);
  font-size: 1.2rem;
  font-weight: bold;
}
.logout {
  margin: 0.5rem;
  font-size: 0.7rem;
}

.head-brand {
  display: none;
}

.title-with-button {
  margin: 0rem 0 2rem 0;
  font-size: 1.2rem;
  font-weight: 500;
  text-transform: uppercase;
  width: 100%;
  padding: 0.5rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 2px solid var(--light);
  border-bottom: 2px solid var(--light);
}
.title-without-button {
  margin: 0rem 0 2rem 0;
  font-size: 1.2rem;
  font-weight: 500;
  text-transform: uppercase;
  width: 100%;
  padding: 0.5rem 1rem;
  display: flex;
  justify-content: start;
  align-items: center;
  border-top: 2px solid var(--light);
  border-bottom: 2px solid var(--light);
}
.empty-message {
  font-size: 1.5rem;
  font-weight: bold;
  color: grey;
  margin-top: 7rem;
  margin-bottom: 7rem;
}
@media only screen and (max-width: 980px) {
  @keyframes navOpen {
    from {
      transform: translateX(-60vw);
    }
    to {
      transform: translateX(0);
    }
  }
  @keyframes navClose {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-60vw);
    }
  }
  .nav-toggle {
    display: inline;
    font-size: 2rem;
    font-weight: bold;
  }
  body {
    padding: 0;
    padding-top: 10vh;
  }
  button {
    padding: 0.2rem 1rem;
  }
  .main-body {
    margin-left: 0;
    width: 100%;
  }
  .tab {
    font-size: 1rem;
    display: none;
  }
  .header {
    width: 100%;
    max-height: fit-content;
    z-index: 9;
  }
  .head-brand {
    display: flex;
    align-items: center;
    font-weight: bold;
  }

  .logout {
    font-size: 0.8rem;
    height: 2.5rem;
    margin: 0 0.5rem;
  }

  .content {
    padding: 0;
  }
  #sidebar {
    display: none;
    flex-direction: column;
    align-items: center;
    position: fixed;
    width: fit-content;
    padding: 0 2rem;
    z-index: 10;
    padding-top: 3rem;
  }
  .adminName {
    max-width: 30vw;
    text-wrap: wrap;
  }

  .nav-item {
    font-size: 1.4rem;
    margin: 0.7rem 0;
  }
  .space {
    height: 30vh;
    width: 100%;
  }
}
