select {
  border: 3px solid var(--dark);
  font-size: 1rem;
  padding: 0.3rem;
  border-radius: 0.5rem;
}
#report-list {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.report {
  width: 80%;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid var(--light);
  margin: 0 auto;
}
.report-name {
  font-size: 1.2rem;
  font-weight: 500;
}

.download-buttons {
  display: flex;
  gap: 1rem;
}
.report-download {
  display: flex;
  align-items: center;
  gap: 0.3rem;
  background-color: white;
  color: var(--dark);
  border-color: var(--dark);
  padding: 0.3rem;
}
.report-download:hover {
  background-color: var(--dark);
  color: white;
  border-color: var(--dark);
}
.search-container {
  display: flex;
  gap: 1rem;
  margin-left: 1rem;
}
