<footer id="footer">
      <div class="address">
        617, Edappally,<br>Bypass road, Maradu,<br>Ernakulam,Kerala <br>India
      </div>
      <div class="actions">
        <div>About us</div>
        <div>Contact</div>
        <div>FAQs</div>
        <div>Careers</div>
        <div>Outlets</div>
      </div>
      <div id="footer-brand">
        <img style="height: 5rem;" src="https://res.cloudinary.com/dfezowkdc/image/upload/v1697033476/letter-k-white_npzdd9.png" alt="">
        <div id="footer-brand-name">KickStore</div>
        <div id="footer-copyright">
          Kickstore &#169 2023
        </div>
      </div>
    </footer>